@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue-UltraLight.otf);
}

html, body {
	font-family: Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
	background-color: rgb(246,209,211);
	color: black;
	height: 100%;
}

h1 {
	color: black;
}

.page {
	min-height: 750px;
	height: 100%;
	position: relative;
}

@media (min-width: 1200px) {
	.center {
		position: absolute;
		width: 1170px;
		height: 550px;
		margin-top: -325px;
		margin-left: -585px;
		top: 50%;
		left: 50%;
	}

	#info number{
		font-size: 48px;
	}

	h1 br {
		display: none;
	}
}

@media (min-width: 992px) {
	.center {
		position: absolute;
		width: 970px;
		height: 550px;
		margin-top: -325px;
		margin-left: -485px;
		top: 50%;
		left: 50%;
	}

	#info number{
		font-size: 48px;
	}

	h1 br {
		display: none;
	}
}

@media (min-width: 758px) {
	.center {
		position: absolute;
		width: 750px;
		height: 550px;
		margin-top: -325px;
		margin-left: -375px;
		top: 50%;
		left: 50%;
	}

	#info number{
		font-size: 48px;
	}

	h1 br {
		display: none;
	}
}

@media (max-width: 768px) {
	.center {
		position: absolute;
		width: 80%;
		height: 950px;
		margin-left: -40%;
		left: 50%;
	}

	#downMessage {
		display: none;
	}

	#info number{
		font-size: 36px;a
	}

	h1 br {
		display: none;
	}
}

@media (max-width: 550px) {
	h1 br {
		display: block;
	}
}

#info {
	font-family: KongXi, HelveticaNeue;
	text-align: center;
	font-size: 18px;
}

#info number{
	font-family: HelveticaNeue;
}

#results {
	color: black;
}

#results number {
	font-size: 36px;
}

#info .well {
	padding: 0px 0px 0px 0px;
}

#postCount {
	background-color: #A6373F;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#likeCount {
	background-color: #AA6939;
	color: white;
	padding: 20px 0px 20px 0px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#commentCount {
	background-color: #236A62;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#rank {
	padding-top: 30px;
	padding-bottom: 30px;
}

#results a:link{
	color:#263238;
}

#results a:visited{
	color:#263238;
}

#results a:hover{
	color:#263238;
}

#results a:active{
	color:#263238;
}

#message {
	font-size: 18px;
}

#likeInfo {
	font-size: 18px;
}

.fb-share-button { 
    width: 100px; 
}
.fb-share-button span, 
.fb-share-button iframe {
    width: 100px! important;
    height: 20px! important;
}