@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue-UltraLight.otf);
}

html, body {
	font-family: Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
	background-color: #3949ab;
	color: white;
	height: 100%;
	font-size: 16px;
}

h1 {
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif !important;
}

h2 {
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif !important;
}

h3 {
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif !important;
}

h4 {
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif !important;
}

h5 {
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif !important;
}

h6 {
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif !important;
}

a {
	color: #1A237E;
}

a:link{
	color:#1A237E;
}

a:visited{
	color:#1A237E;
}

a:hover{
	color:#1A237E;
}

a:active{
	color:#1A237E;
}

.page {
	min-height: 800px;
	height: 100%;
	position: relative;
}

@media (min-width: 1200px) {
	.center {
		position: absolute;
		width: 1170px;
		height: 220px;
		margin-top: -150px;
		margin-left: -585px;
		top: 50%;
		left: 50%;
	}

	#info number{
		font-size: 48px;
	}

	br.mobile {
		display: none;
	}
}

@media (min-width: 992px) {
	.center {
		position: absolute;
		width: 970px;
		height: 220px;
		margin-top: -150px;
		margin-left: -485px;
		top: 50%;
		left: 50%;
	}

	#info number{
		font-size: 48px;
	}

	br.mobile {
		display: none;
	}
}

@media (min-width: 758px) {
	.center {
		position: absolute;
		width: 750px;
		height: 220px;
		margin-top: -150px;
		margin-left: -375px;
		top: 50%;
		left: 50%;
	}

	#info number{
		font-size: 48px;
	}

	br.mobile {
		display: none;
	}
}

@media (max-width: 768px) {
	.center {
		position: absolute;
		width: 80%;
		margin-top: 50px;
		margin-left: -40%;
		left: 50%;
	}

	#downMessage {
		display: none;
	}

	#info number{
		font-size: 36px;a
	}

	br.mobile {
		display: none;
	}
}

@media (max-width: 550px) {
	br.mobile {
		display: block;
	}
}

#info {
	font-family: KongXi, HelveticaNeue;
	text-align: center;
	font-size: 18px;
}

#info number{
	font-family: HelveticaNeue;
}

#results {
	color: black;
}

#results number {
	font-size: 36px;
}

#info .well {
	padding: 0px 0px 0px 0px;
}

#postCount {
	background-color: #2196F3;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#likeCount {
	background-color: #03A9F4;
	color: white;
	padding: 20px 0px 20px 0px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#commentCount {
	background-color: #00BCD4;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#rank {
	padding-top: 30px;
	padding-bottom: 30px;
}

#results a:link{
	color:#263238;
}

#results a:visited{
	color:#263238;
}

#results a:hover{
	color:#263238;
}

#results a:active{
	color:#263238;
}

#results .article a {
	color: #0D47A1;
}

#results .article a:link {
	color: #0D47A1;
}

#results .article a:visited {
	color: #0D47A1;
}

#results .article a:hover {
	color: #0D47A1;
}

#results .article a:active {
	color: #0D47A1;
}

#message {
	font-size: 18px;
}

#likeInfo {
	font-size: 18px;
}

.fb-share-button { 
    width: 100px; 
}
.fb-share-button span, 
.fb-share-button iframe {
    width: 100px! important;
    height: 20px! important;
}

.modal {
	color: black;
}