@font-face {
  font-family: KongXi;
  src: url(KongXi.otf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(HelveticaNeue-UltraLight.otf);
}

html, body {
	font-family: HelveticaNeue, Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
	background-color: #37474F;
	color: white;
	height: 100%;
}

h1 {
	font-family: KongXi;
	color: #B71C1C;
}

.page {
	height: 100%;
}

@media (min-width: 1200px) {
	#info number{
		font-size: 48px;
	}
}

@media (min-width: 992px) {

	#info number{
		font-size: 48px;
	}
}

@media (min-width: 758px) {

	#info number{
		font-size: 36px;
	}
}

@media (max-width: 768px) {
	#info number{
		font-size: 36px;
	}
}

.center {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#info {
	font-family: KongXi;
	text-align: center;
}

#info number{
	font-family: HelveticaNeue;
}

#results {
	color: black;
}

#results number {
	font-size: 36px;
	font-family: HelveticaNeue;
}

#info .well {
	padding: 0px 0px 0px 0px;
}

#postCount {
	background-color: #673AB7;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#likeCount {
	background-color: #3F51B5;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#commentCount {
	background-color: #009688;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#rank {
	padding-top: 30px;
	padding-bottom: 30px;
}

#results a:link{
	color:#263238;
}

#results a:visited{
	color:#263238;
}

#results a:hover{
	color:#263238;
}

#results a:active{
	color:#263238;
}

#message {
	font-size: 18px
}