<!DOCTYPE html>
<html lang="zh-tw" ng-app="horror">
<head>
    <meta charset="UTF-8">
    <title>一句話恐怖故事大賽統計表</title>

    <meta name="description" content="一句話恐怖故事大賽統計表，進入本站後您的裝置將在十秒後爆炸！">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="一句話恐怖故事大賽統計表" />
    <meta property="og:site_name" content="一句話恐怖故事大賽統計表"/>
    <meta property="og:url" content="http://larrystanley.github.io/HorrorStory/"/>
    <meta property="og:description" content="一句話恐怖故事大賽統計表，進入本站後您的裝置將在十秒後爆炸！">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://larrystanley.github.io/HorrorStory/image.png"/>
    <meta property="og:image" content="http://larrystanley.github.io/HorrorStory/image-small.png"/>

    <link href="image.png" rel="image_src" type="image/jpeg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body ng-controller="HorrorController as horror">
    <div class="page">
      <div class="container">
        <div class="center">
          <h1 style="text-align: center">一句話恐怖故事大賽統計表</h1>
          <div id="message" style="text-align:center"><p>進入本站後您的裝置將在十秒後爆炸，夠恐怖吧！</p></div>
          <div id="info" style="display: none">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well">
                  <div id="postCount">
                    一句話數量<br>
                    <number>{{ horror.data.post_count | number }}</number>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="well">
                    <div id="likeCount">
                      總讚數<br>
                      <number>{{ horror.data.like_count | number }}</number>
                    </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well">
                  <div id="commentCount">
                    總留言數<br>
                    <number>{{ horror.data.comment_count | number }}</number>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p style="text-align: center; font-size: 16px">
            每十分鐘更新一次<br>
            Made by <a href="https://goo.gl/7FSJVN" target="_blank">銀行汽車貸款＿吳先生</a>
          </p>
        </div>
      </div>
      <div id="downMessage" style="position: absolute; left: 50%; bottom:0; padding: 10px 10px 10px 10px;">
        <div style="position: relative; left: -50%; text-align:center">
          下拉查看排名<br><i class="fa fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="page" style="display:none">
      <div class="container">
        <div id="results">
          <button style="color:white" id="sortByLikeButton" class="btn btn-flat active" ng-click="horror.sortByLike()">依照讚數排序</button>
          <button style="color:white" id="sortByCommentButton" class="btn btn-flat" ng-click="horror.sortByComment()">依照留言數排序</button>
          <div ng-repeat="post in horror.data.posts" ng-if="$index < horror.showCount">
            <div class="well post">
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3" id="rank">
                  <number>{{$index + 1}}.</number>
                  <a  href='https://www.facebook.com/{{ post.from.id }}/' target='_blank'>
                    <img src='http://graph.facebook.com/{{ post.from.id }}/picture?type=large' class='img-circle' width="80px">
                  </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <a href="http://www.facebook.com/{{post.from.id}}" target="_blank">
                    <h3>{{post.from.name}}</h3>
                  </a>
                  <a href="{{post.actions[0].link}}" target="_blank">
                    <p ng-if="post.message">{{post.message}}</p>
                    <p ng-if="!post.message">無內容的一句話(可能是圖片)</p> 
                  </a>
                  <p id="likeInfo">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                      <i class="fa fa-thumbs-up"></i> {{post.likes.summary.total_count | number}} &nbsp;&nbsp;
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                      <i class="fa fa-comment"></i> {{post.comments.summary.total_count | number}}
                    </div>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-default" style="color:white" ng-click="horror.showMore()">載入更多一句話</button>
        </div>        
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66239892-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
